html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	font-family: 'Noto Sans', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: #C9C9C9;
	color: #008A53;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*CUSTOM STYLING*/
nav img, p {
	display: inline-block;
	
}

p {
	font-size: 50px;
}

nav {
	text-align: center;
	margin: 4em;
	font-weight: 700;
}

h3 {
	font-weight: 700;
}

span {
	color: #72C166;
}

.spacer {
	padding: 0.5em;
}

textarea[type=text] {
	font-size: .85em;
	padding: .65em 1em;
	border-radius: .3em;
	outline: 0;
	border: 1px solid #dcdcdc;
  	margin-right: 1em;
  	width: 100%;
  	margin: auto;
  	display: block;
  	/*font-family: 'Open Sans', sans-serif;*/
  	background-color: #6A5B5E;
  	border-color: transparent;
  	color: #fff;
  	height: 10em;
}

input[type=text] {
	font-size: .85em;
	padding: .65em 1em;
	border-radius: .3em;
	outline: 0;
	border: 1px solid #dcdcdc;
  	margin-right: 1em;
  	width: 100%;
  	margin: auto;
  	display: block;
  	/*font-family: 'Open Sans', sans-serif;*/
  	background-color: #6A5B5E;
  	border-color: transparent;
  	color: #fff;
}

.addPostButton {
	color: white;
	border-radius: 3px;
	border: solid 1px;
	border-color: transparent;
	cursor: pointer;
	background-color: #72C166;
	padding: 0.5em 1em;
	margin: 0.5em 0 0.5em 0;
	transition: all 0.2s ease-out;
}

.up {
	color: white;
	display: inline-block;
	border-radius: 3px;
	border: solid 1px;
	border-color: transparent;
	cursor: pointer;
	background-color: #008852;
	padding: 0.5em 1em;
	margin: 0.5em 0.5em 0.5em 0;
	transition: all 0.2s ease-out;
}

.down {
	color: white;
	display: inline-block;
	border-radius: 3px;
	border: solid 1px;
	border-color: transparent;
	cursor: pointer;
	background-color: #499F3C;
	padding: 0.5em 1em;
	margin: 0.5em;
	transition: all 0.2s ease-out;
}

.remove {
	color: white;
	display: inline-block;
	border-radius: 3px;
	border: solid 1px;
	border-color: transparent;
	cursor: pointer;
	background-color: #BC464F;
	padding: 0.5em 1em;
	margin: 0.5em 0.5em 0.5em 0;
	transition: all 0.2s ease-out;
}

.showHide {
	color: white;
	display: inline-block;
	border-radius: 3px;
	border: solid 1px;
	border-color: transparent;
	cursor: pointer;
	background-color: #78B0AA;
	padding: 0.5em 1em;
	margin: 0.5em;
	transition: all 0.2s ease-out;
}

.up:hover, .down:hover,
.remove:hover, .addPostButton:hover, .showHide:hover {
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
}

.remove:focus, .addPostButton:focus, .showHide:focus {
	outline: none;
}

.fullPost {
	margin: 0 14em 1em 14em;
}

.buttonDiv {
	margin: 0 14em 1em 14em;
}

.postBody {
	margin: 0 14em 0.5em 14em;
	background-color: #6A5B5E;
	border-radius: 3px;
	color: #fff;
	padding: .65em 1em;
}

.bodyContent {
	font-size: 18px;
	line-height: 2em;
}